/*
0 - 600px: Phone
600px - 900px: Table portrait 
900px - 1200px: Table landscape
(1200px - 1800px) is where our normal styles apply
1800+px : Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Roboto', sans-serif; }

.heading-primary {
  display: block;
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 8rem;
  margin: auto;
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-duration: ease-out; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 5rem; } }

.heading-secondary-1 {
  color: #407aed;
  font-size: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary-1 {
      font-size: 3rem; } }

.heading-secondary-2 {
  color: #f7f7f7;
  font-size: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary-2 {
      font-size: 3rem; } }

.heading-secondary-3 {
  color: #0b2b6b;
  font-size: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary-3 {
      font-size: 2.5rem; } }

.projectcard {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(11, 43, 107, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
    .projectcard {
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px); } }
  .projectcard__content {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    box-shadow: 0 2rem 4rem rgba(11, 43, 107, 0.2);
    border-radius: .3rem;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .8s .2s;
    display: grid; }
  .projectcard__heading {
    text-align: center;
    font-size: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .projectcard__heading {
        font-size: 3rem; } }
  .projectcard__img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
    padding: 1rem; }
    .projectcard__img--item {
      width: 85%;
      margin-left: 5rem; }
      @media only screen and (max-width: 75em) {
        .projectcard__img--item {
          width: 100%;
          margin-left: 0; } }
    .projectcard__img--solo {
      width: 60%;
      justify-self: center; }
  .projectcard__text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding: 3rem;
    font-size: 1.5rem; }
    .projectcard__text--block {
      padding: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .projectcard__text {
        font-size: 0.8rem; } }
  .projectcard__headline {
    display: inline-block;
    font-weight: bolder;
    color: #0b2b6b;
    margin-bottom: 2rem;
    border-bottom: 1px solid #000; }
  .projectcard__link {
    display: inline-block;
    font-style: italic;
    margin-top: 1rem; }
    .projectcard__link--item {
      display: inline-block;
      text-decoration: none;
      margin-top: 1rem; }
      .projectcard__link--item, .projectcard__link--item:link, .projectcard__link--item:visited {
        text-decoration: none;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer; }
      .projectcard__link--item:hover {
        color: #0b2b6b;
        transform: translateY(-0.5rem); }
  .projectcard__repo {
    display: inline-block;
    text-align: center;
    margin-left: 50%;
    margin-top: 1rem;
    text-decoration: none; }
    .projectcard__repo, .projectcard__repo:link, .projectcard__repo:visited {
      text-decoration: none;
      transition: all .2s;
      position: relative;
      border: none;
      cursor: pointer; }
    .projectcard__repo:hover {
      color: #0b2b6b;
      transform: translateY(-0.5rem); }
  .projectcard:target {
    opacity: 1;
    visibility: visible; }
  .projectcard:target .projectcard__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .projectcard__close:link, .projectcard__close:visited {
    color: #407aed;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .projectcard__close:hover {
    color: #0b2b6b; }

.container {
  display: grid;
  grid-template-rows: 90vh repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.footer {
  grid-column: full-start / full-end; }

.header {
  background-image: linear-gradient(to right, rgba(64, 122, 237, 0.8), rgba(11, 43, 107, 0.8)), url(../img/nightcity.jpg);
  background-size: 100% 100%;
  grid-column: full-start / full-end;
  display: flex; }

.about {
  padding-top: 6rem;
  padding-bottom: 5rem;
  grid-column: center-start / center-end; }
  .about__heading {
    text-align: center;
    margin-bottom: 5rem; }
  .about__content--1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    padding-left: 5rem;
    padding-right: 5rem;
    grid-row-gap: 5rem;
    margin-top: 2rem;
    margin-bottom: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .about-me {
      font-size: 2rem; } }
  .about__content--2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
    margin-bottom: 1rem;
    align-content: center; }
  .about__pic {
    justify-self: center; }
    .about__pic--1 {
      height: 40rem; }
  .about__hobby-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 20rem;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .about__hobby-pic {
        width: 60%; } }
  .about__text {
    display: block;
    margin: auto;
    font-size: 2.2rem; }
    .about__text--2 {
      text-align: center;
      font-size: 2.2rem;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 37.5em) {
        .about__text--2 {
          font-size: 2rem; } }
  .about__links {
    display: flex;
    justify-content: center; }
  .about__icon {
    display: flex; }
    .about__icon-img {
      height: 5rem;
      width: 5rem;
      margin-top: 4rem;
      margin-right: 4rem;
      fill: #0b2b6b; }
      .about__icon-img, .about__icon-img:link, .about__icon-img:visited {
        text-decoration: none;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer; }
      .about__icon-img:hover {
        fill: #407aed;
        transform: translateY(-1rem); }

.work {
  padding-top: 6rem;
  padding-bottom: 5rem;
  grid-column: center-start / center-end; }
  .work__heading {
    text-align: center;
    margin-bottom: 9rem; }
  .work__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    padding-left: 5rem;
    padding-right: 5rem;
    grid-row-gap: 5rem;
    margin-top: 2rem;
    margin-bottom: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .work-me {
      font-size: 2rem; } }
  .work__pic {
    justify-self: center; }
    .work__pic--1 {
      height: 40rem; }
  .work__text {
    margin: auto;
    font-size: 2.2rem; }
  .work__links {
    list-style: none;
    margin-top: 2rem; }
  .work__item-img {
    height: 4rem; }

.projects {
  padding-top: 5rem;
  padding-bottom: 3rem;
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right, #407aed, #0b2b6b);
  display: grid; }
  .projects__heading {
    margin-bottom: 9rem;
    justify-self: center; }
  .projects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 3rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .projects__list {
        font-size: 2rem; } }
    .projects__list--content {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .projects__list--logo {
      margin-top: 2rem;
      height: 25rem;
      width: 70%; }
      @media only screen and (max-width: 56.25em) {
        .projects__list--logo {
          width: 70%;
          margin-top: 1rem; } }
      @media only screen and (max-width: 37.5em) {
        .projects__list--logo {
          width: 50%;
          padding: 0;
          margin: 0; } }
    .projects__list--1 {
      padding: 2rem;
      background-color: #f7f7f7; }
      .projects__list--1, .projects__list--1:link, .projects__list--1:visited {
        text-decoration: none;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer; }
      .projects__list--1:hover {
        background-color: #0b2b6b;
        color: #eee;
        transform: translateY(-1rem); }
    .projects__list--2 {
      padding: 2rem;
      background-color: #f7f7f7;
      display: flex;
      justify-content: center; }
      .projects__list--2, .projects__list--2:link, .projects__list--2:visited {
        text-decoration: none;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer; }
      .projects__list--2:hover {
        background-color: #0b2b6b;
        color: #eee;
        transform: translateY(-1rem); }
    .projects__list--3 {
      padding: 2rem;
      background-color: #f7f7f7; }
      .projects__list--3, .projects__list--3:link, .projects__list--3:visited {
        transition: all .2s;
        text-decoration: none;
        position: relative;
        border: none;
        cursor: pointer; }
      .projects__list--3:hover {
        background-color: #0b2b6b;
        color: #eee;
        transform: translateY(-1rem); }
    .projects__list--4 {
      padding: 2rem;
      background-color: #f7f7f7; }
      .projects__list--4, .projects__list--4:link, .projects__list--4:visited {
        text-decoration: none;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer; }
      .projects__list--4:hover {
        background-color: #0b2b6b;
        color: #eee;
        transform: translateY(-1rem); }
    .projects__list--5 {
      padding: 2rem;
      background-color: #f7f7f7; }
      .projects__list--5, .projects__list--5:link, .projects__list--5:visited {
        text-decoration: none;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer; }
      .projects__list--5:hover {
        background-color: #0b2b6b;
        color: #eee;
        transform: translateY(-1rem); }
