.header {
    background-image: linear-gradient(to right, 
    rgba($colour-primary-light, 0.8), 
    rgba($colour-primary-dark, 0.8)),
url(../img/nightcity.jpg); 
//background-image: url(../img/nightcity.jpg);
    background-size: 100% 100%;
    grid-column: full-start / full-end;
    display: flex;

    align-items: center;


}
