body {
    font-family: 'Roboto', sans-serif;
}

.heading-primary {
    display: block;
    color: $colour-secondary-1;
    text-transform: uppercase;
    font-size: 8rem;
    margin: auto;
    text-align: center;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-duration: ease-out;

    @include respond(phone) {
        font-size: 5rem;
    }
}

.heading-secondary-1 {
    color: $colour-primary-light;
    font-size: 6rem;

    @include respond(phone) {
        font-size: 3rem;
    }
}

.heading-secondary-2 {
    color: $colour-secondary-1;
    font-size: 6rem;

    @include respond(phone) {
        font-size: 3rem;
    }

}

.heading-secondary-3 {
    color: $colour-primary-dark;
    font-size: 3.5rem;

    @include respond(phone) {
        font-size: 2.5rem;
    }

}
