//ABOUT SECTION
.about {
    padding-top: 6rem;
    padding-bottom: 5rem;
    grid-column: center-start / center-end;
    


    &__heading {
        text-align: center;
        margin-bottom: 9rem;

    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        padding-left: 5rem;
        padding-right: 5rem;
        grid-row-gap: 5rem;
        margin-top: 2rem;
        margin-bottom: 8rem;
    }

    &__pic {

        justify-self: center;

        &--1 {
            height: 40rem;
  
        }

    }

    &__text {
        margin: auto;
        font-size: 2.2rem;
    }

    &__links {
        display: flex;

        justify-content: center;
    }

    &__icon {
        display: flex;


        &-img {
            height: 5rem;
            width: 5rem;
            margin-top: 4rem ;
            margin-right: 4rem;
            fill: $colour-primary-dark;

            &,
            &:link,
            &:visited {
                text-decoration: none;
                transition: all .2s;
                position: relative;
                
                //change for the <button> element
                border: none;
                cursor:pointer;
            }
    
            &:hover {
                fill: $colour-primary-light;
                transform: translateY(-1rem);
            }
        }

       
    }
}

.work {
    padding-top: 6rem;
    padding-bottom: 5rem;
    grid-column: center-start / center-end;
    


    &__heading {
        text-align: center;
        margin-bottom: 9rem;

    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        padding-left: 5rem;
        padding-right: 5rem;
        grid-row-gap: 5rem;
        margin-top: 2rem;
        margin-bottom: 8rem;
    }

    &__pic {

        justify-self: center;

        &--1 {
            height: 40rem;
  
        }

    }

    &__text {
        margin: auto;
        font-size: 2.2rem;
    }

    &__links {
        list-style: none;
        margin-top: 2rem;

    }

    &__item {


        &-img {
            height: 4rem;
        }
    }
}

//PROJECTS SECTION

.projects {
    padding-top: 5rem;
    padding-bottom: 3rem;

    grid-column: full-start / full-end;
    background-image: linear-gradient(to right, 
    rgba($colour-primary-light, 1), 
    rgba($colour-primary-dark, 1));
    display: grid;
  

    &__heading {
        margin-bottom: 9rem;
        justify-self: center;

    }

    &__list {
        display: grid;
        margin-right: 2rem;
        margin-left: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 1.5rem;
        padding: 1.5rem;

        text-align: center;
        font-size: 3rem;
        justify-content: center;

        &--content {
            display: block;
        }

        &--logo {
            margin-top: 2rem;
            height: 25rem;
            width: 80%;
        }

        &--1 {
            padding: 2rem;
            background-color: $colour-secondary-1;

            &,
            &:link,
            &:visited {
                text-decoration: none;
                transition: all .2s;
                position: relative;
                
                //change for the <button> element
                border: none;
                cursor:pointer;
            }

            &:hover {
                background-color: $colour-primary-dark;
                color: $colour-secondary-2;
                transform: translateY(-1rem);
            }
    
        }

        &--2 {
            padding: 2rem;
            background-color: $colour-secondary-1;
            display: flex;
            justify-content: center;

            &,
            &:link,
            &:visited {
                text-decoration: none;
                transition: all .2s;
                position: relative;
                
                //change for the <button> element
                border: none;
                cursor:pointer;
            }

            &:hover {
                background-color: $colour-primary-dark;
                color: $colour-secondary-2;
                transform: translateY(-1rem);
            }

        }
        &--3 {
            padding: 2rem;
            background-color: $colour-secondary-1;

            &,
            &:link,
            &:visited {
                transition: all .2s;
                text-decoration: none;
                position: relative;
                
                //change for the <button> element
                border: none;
                cursor:pointer;
            }

            &:hover {
                background-color: $colour-primary-dark;
                color: $colour-secondary-2;
                transform: translateY(-1rem);
            }
            
        }
        &--4 {
            padding: 2rem;
            background-color: $colour-secondary-1;

            &,
            &:link,
            &:visited {
                text-decoration: none;
                transition: all .2s;
                position: relative;
                
                //change for the <button> element
                border: none;
                cursor:pointer;
            }

            &:hover {
                background-color: $colour-primary-dark;
                color: $colour-secondary-2;
                transform: translateY(-1rem);
            }
            
        }
        &--5 {
            padding: 2rem;
            background-color: $colour-secondary-1;

            &,
            &:link,
            &:visited {
                text-decoration: none;
                transition: all .2s;
                position: relative;
                
                //change for the <button> element
                border: none;
                cursor:pointer;
            }

            &:hover {
                background-color: $colour-primary-dark;
                color: $colour-secondary-2;
                transform: translateY(-1rem);
            }
            
        }
    }

}
